body{
    font-family: "Noto Sans", sans-serif;
    margin: 0;
    color: rgba(0,0,0,0.85);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}


header{
    margin-top: auto;
    margin-bottom: auto;
    /*transform: translate(-50%,-65%);*/
    display: flex;
    align-items: flex-start;
}
@media (max-width: 450px) {
    header{
        flex-direction: column;
    }
}
h1{
    font-size: 3em;
    margin: 0;
}
#wrench{
    margin-top: 19px;
    margin-right: 10px;
    width: 80px;
    height: 80px;
    opacity: 0.85;
    transform-origin: 71% 29%;
    transition: transform 0.5s ease-in-out;
}
@media (min-width: 451px) {
    header:hover #wrench{
        transform: rotate(-45deg); 
    }
}

footer{
    position: relative;
    align-self: stretch;
    display: flexbox;
    flex-direction: column;
}
footer #banner {
    margin: 0;
    padding: 4px;
    background-color: rgba(0,0,0,0.85);
    color: white;
    font-family: monospace;
    font-size: 0.8em;
    text-align: center;
}
footer #lightbulb{
    position: absolute;
    top: -20px;
    left: 5px;
    height: 18px;
    width: 18px;
}
footer #lightbulb-light{
    position: absolute;
    top: -11px;
    left: 11px;
    height: 6px;
    width: 6px;
    border-radius: 9999px;
    background-color: rgba(255,218,132,1);
    transition: box-shadow 0.2s ease-in;
}
footer:hover #lightbulb-light{
    box-shadow: 0px 0px 50px 10px rgba(255,218,132,1);
}

footer #links{
    margin: 0;
    padding: 2px 5px;
    list-style-type: none;
    align-self: flex-start;
}
footer #links > li{
    margin: 0;
    display: flex;
    align-items: center;
}
footer #links > li > img{
    display: block;
    width: 18px;
    height: 18px;
    margin-right: 5px;
}
footer #links > li > a{
    color: rgba(0,0,0,0.85);
    text-decoration: none;
    outline: none;
    font-size: 0.8em;
}
footer #links > li > a:hover,
footer #links > li > a:focus{
    text-decoration: underline;
}


::selection {
    background: rgba(220, 20, 60, 0.7);
}
::-moz-selection {
    background: rgba(220, 20, 60, 0.7);
}


