body{
    font-family: "Noto Sans", sans-serif;
    margin: 0;
    color: rgba(0,0,0,0.85);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}


header{
    margin-top: auto;
    margin-bottom: auto;
    /*transform: translate(-50%,-65%);*/
    display: flex;
    align-items: flex-start;
}
@media (max-width: 450px) {
    header{
        flex-direction: column;
    }
}
h1{
    font-size: 3em;
    margin: 0;
}
#wrench{
    margin-top: 19px;
    margin-right: 10px;
    width: 80px;
    height: 80px;
    opacity: 0.85;
}

footer{
    position: relative;
    align-self: stretch;
    background-color: rgba(0,0,0,0.85);
}
footer > p {
    margin: 0;
    padding: 5px;
    color: white;
    font-family: monospace;
    font-size: 0.8em;
    line-height: 1rem;
    text-align: center;
}
#lightbulb{
    position: absolute;
    top: -20px;
    left: 2px;
    height: 18px;
    width: 18px;
}


::selection {
    background: rgba(220, 20, 60, 0.7);
}
::-moz-selection {
    background: rgba(220, 20, 60, 0.7);
}


